.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-student{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 20px 0;
}
.img-student img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px solid #7bc6ed;
}
.title-text{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.title-text p{
    font-size: 18px;
    max-width: 800px;
    text-align: center;
}
.info-text p{
    margin: 5px 0 0 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.info-text h2{
    margin: 5px 0 0 0;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
}